<h1>Images</h1>

<% @images.each do |image| %>
  <%= tag.section class: 'my-5',
    data: {controller: 'images toast', action: 'images:copy->toast#showMe',
    'images-loading-class': 'disabled', 'images-id-value': image.id} do %>
    <%= image_tag image.url, class: 'image-thumbnail rounded d-block',
            alt: image.title, data: {'action': 'click->images#getUrl',
            'images-target': 'image'} %>

  <% end %>
<% end %>

<div class="toast-container">
  <div id="copyToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">

      <strong class="me-auto">Bootstrap</strong>
      <small class="text-muted">just now</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Text
    </div>
  </div>

</div>
